.bottomScoreTeamImage {
  position: absolute;
  top: 6vh;
  left: 4vw;
  width: 15vw;
  height: 9.5vh;
}
.bottomScoreImage,
.bottomScorePointsImage {
  position: absolute;
  top: 6vh;
  left: 19vw;
  width: 2.8vw;
  height: 9.5vh;
}
.bottomScorePointsImage {
  left: 21.9vw;
  width: 3vw;
}
.p1IndicatorImage,
.p2IndicatorImage {
  position: absolute;
  top: 7.4vh;
  left: 5.2vw;
  height: 2.6vh;
  width: 1vw;
}
.p2IndicatorImage {
  top: 11.5vh;
}
.homeTeamName,
.awayTeamName {
  font-size: 2.8vh;
  color: aliceblue;
  position: absolute;
  left: 7vw;
  top: 6.5vh;
  width: 12vw;
  text-align: start;
  overflow: hidden;
  text-transform: uppercase;
}
.awayTeamName {
  top: 10.65vh;
}
.p1SetPoints,
.p2SetPoints,
.p1CurrentPoints,
.p2CurrentPoints {
  font-size: 2.85vh;
  position: absolute;
  top: 6.5vh;
  left: 18.5vw;
  color: aliceblue;

  width: 4vw;
  text-align: center;
}
.p1CurrentPoints,
.p2CurrentPoints {
  left: 21.4vw;
}
.p2SetPoints,
.p2CurrentPoints {
  top: 10.8vh;
}
.banner_small {
  position: absolute;
  width: 22%;
  bottom: 4vh;
  left: 5vh;
}

.banner_medium {
  position: absolute;
  width: 50%;
  top: 86.5vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.banner_large {
  position: absolute;
  width: 100%;
  top: 86.8vh;
}
