.bottomScoreTeamImage {
  position: absolute;
  top: 6vh;
  left: 4vw;
  width: 15vw;
  height: 9.5vh;
}
.bottomScoreImage,
.bottomScorePointsImage {
  position: absolute;
  top: 6vh;
  left: 19vw;
  width: 2.8vw;
  height: 9.5vh;
}
.bottomScorePointsImage {
  left: 21.9vw;
  width: 3vw;
}
.homeTeamName,
.awayTeamName,
.homeScore,
.awayScore,
.homeScoreGoals,
.awayScoreGoals,
.homeScoreBehinds,
.awayScoreBehinds {
  font-size: 2.9vh;
  color: aliceblue;
  position: absolute;
  left: 7vw;
  top: 6.6vh;
  width: 12vw;
  text-align: start;
  overflow: hidden;
  text-transform: capitalize;
}
.awayTeamName {
  top: 10.8vh;
}
.homeScore,
.awayScore,
.homeScoreGoals,
.awayScoreGoals,
.homeScoreBehinds,
.awayScoreBehinds {
  left: 18.1vw;
  font-size: 3.7vh;
  color: black;
  top: 86vh;
}

.homeScoreGoals,
.awayScoreGoals,
.homeScoreBehinds,
.awayScoreBehinds {
  left: 10.1vw;
  font-size: 3.7vh;
  color: aliceblue;
  top: 86vh;
}
.homeScoreBehinds,
.awayScoreBehinds {
  left: 13.5vw;
}
.awayScore,
.awayScoreGoals,
.awayScoreBehinds {
  top: 90.8vh;
}
.quarter {
  top: 86.2vh;
  left: 23.6vw;
}
.banner_small {
  position: absolute;
  top: 87.5vh;
  left: 46vw;
  width: 28vw;
}

.banner_medium {
  position: absolute;
  width: 50%;
  top: 86.5vh;
  left: 40vw;
}
.banner_large {
  position: absolute;
  width: 100%;
  top: 0;
}
