.teamsLineup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.backgroundImage {
  position: absolute;
  height: 74vh;
  width: 70vw;
  top: 12vh;
}
.teamsLineupTitleImage {
  position: absolute;
  width: 70vw;
  height: 14vh;
  top: 10vh;
}
.teamsLineupTeamHeadingName {
  position: absolute;
  top: 12.2vh;

  width: 52vw;
  font-size: 3.2vh;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: aliceblue;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.homeTeamLogo,
.awayTeamLogo {
  position: absolute;
  height: 6.6vh;

  top: 14vh;
  left: 15.25vw;
}
.awayTeamLogo {
  left: 78.1vw;
}

.teamLineupMapInfo {
  display: flex;
  flex-direction: column;
}
.teamLineupMapInfo img {
  height: 5vh;
  width: 30vw;
}
.teamLineupMapInfo p {
  height: 5vh;
  width: 30vw;

  margin-top: -5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-transform: uppercase;
  color: aliceblue;
  font-size: 2.4vh;
}
.teamLineupMapInfo span {
  height: 5vh;
  width: 3vw;
  margin-top: -7.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-transform: uppercase;
  color: aliceblue;
  font-size: 2.4vh;
  margin-right: 1vw;
  padding-bottom: 0.8vh;
  margin-left: 91%;
}
.teamsLineupTeamContainer {
  position: absolute;
  width: 64vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 51vh;
  overflow: hidden;
  top: 28vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.teamsLineupTeam2Container {
  left: 51.5vw;
}

.teamsLineup-Heading-Image {
  position: absolute;
  width: 60vw;
  height: 9vh;
  top: 5vh;
}
.teamsLineup-Name {
  position: absolute;
  font-size: 3.5vh;
  font-weight: 600;

  top: 7vh;

  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamLineup-mapImage {
  width: 24vw;
  height: 5.5vh;
}
.teamLineup-mapInfo {
  display: flex;
  justify-content: space-between;
  margin-top: -4.8vh;
  margin-left: 1.5vw;
  padding-bottom: 1.5vh;
  width: 19.5vw;
  font-weight: 400;
  font-size: 2.45vh;
  text-transform: capitalize;
}
.teamLineup-mapInfo1 {
  display: flex;
  justify-content: space-between;
  margin-top: -4.8vh;
  margin-left: 1.5vw;
  padding-bottom: 1.5vh;
  width: 21vw;
  font-weight: 400;
  font-size: 2.45vh;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.teamsLineupTeam1Heading-Image {
  position: absolute;
  width: 25vw;
  height: 6vh;
  top: 14.5vh;
  left: 24.2vw;
}

.teamsLineupTeam2Heading-Image {
  position: absolute;
  width: 25vw;
  height: 6vh;
  top: 14.5vh;
  left: 49.75vw;
}
.teamsLineupTeam2Heading-Name {
  position: absolute;
  top: 15.25vh;
  left: 51vw;
  width: 22vw;
  font-size: 3vh;
  font-weight: 700;

  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.teamsLineupTeam2 {
  position: absolute;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 65vh;
  top: 20.85vh;
  left: 47.25vw;
}

.teamsLineup-bottom-Image {
  position: absolute;
  width: 56vw;
  height: 8vh;
  top: 85.85vh;
  left: 22vw;
  transform: rotate(180deg);
}
.teamsLineup-bottom-info {
  position: absolute;
  font-size: 3vh;
  font-weight: 600;
  left: 25.5vw;
  top: 87.85vh;
  opacity: 0;
  width: 50vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: capitalize;
}

.banner_small {
  position: absolute;
  width: 18%;
  top: 86vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.banner_medium {
  position: absolute;
  width: 40%;
  top: 86vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.banner_large {
  position: absolute;
  width: 100%;
  top: 86vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
